
#                                Athena's Feminints Bookstore



**Project Goals:**

1.	Help Athena's Story create successful campaign in March.
2.	Use customer survey data to understand their target audience and their preferences for feminist books.
3.	Use historical sales data to identify the most profitable genres for Athena's Story, including feminist fiction and biographies of inspiring women, as well as newer genres such as children's literature and feminist zines.
4.	Provide insights and recommendations to Athena's Story on how to improve their sales and customer engagement.

**Objectives:**

1.	Analyze the customer survey data to understand the target audience's preferences for feminist books and their likelihood of purchasing books during Women's History Month.
2.	Analyze the historical sales data to identify patterns and trends in the most profitable genres and to determine the potential for growth in newer genres.
3.	Provide recommendations on which types of books to focus on during the campaign, based on the survey and sales data analysis.
4.	Develop a marketing strategy to promote the campaign, including social media, email, and in-store promotions.
5.	Monitor and measure the effectiveness of the campaign through key performance indicators, such as sales, website traffic, and customer feedback.
6.	Provide Athena's Story with a comprehensive report on the campaign's performance, including insights and recommendations for future campaigns

## Data Documentation

Customer Survey Dataset The dataset is a collection of responses to a survey about Women's History Month (WHM) celebrations. The survey had six questions, and the responses were collected from an unknown number of participants.

- The first question (Q1) asked whether the respondent planned to celebrate WHM, and the possible answers were "Yes" or "No." - The second question (Q2) was only applicable to those who answered "Yes" to Q1 and asked how they planned to celebrate, and the respondents were asked to write their answers.

- The third question (Q3) asked whether the respondent purchased feminist books in honor of WHM, either for themselves or as a gift for someone else. The possible answers were "Yes" or "No." The fourth question (Q4) was only applicable to those who answered "Yes" to Q3 and asked how many books they typically purchase during March. The possible answers were "1," "2-Mar," "4 or more."

- The fifth question (Q5) asked what the respondent liked most about Athena's Story. The respondents were asked to write their answers. Athena's Story is likely a store or a website that sells feminist books or products related to WHM celebrations.

- The sixth question (Q6) asked what types of books the respondents would like to see more of at Athena's Story. The respondents were asked to write their answers, and the possible answers were "Feminist fiction," "Feminist zines," "Feminist poetry," "Feminist novels and essays," "Women's history books," "Biographies of inspirational women," "Women's journals," and "Feminist science fiction."

*Limitations*


- Sample size: The dataset is relatively small, consisting of only 85 responses. This may limit the generalizability of the results to a larger population.

- Self-reported data: The data is self-reported, which means that there may be biases or inaccuracies in the responses. For example, respondents may not remember their actual behavior during Women's History Month or may be inclined to over-report positive behaviors.

- Limited survey questions: The survey only consists of six questions, which may not provide a comprehensive view of the respondents' behaviors and attitudes towards Women's History Month.

- Lack of demographic information: The dataset does not include information about the respondents' age, gender, race, or other demographic characteristics. This information could be helpful in understanding how different groups celebrate or support Women's History Month.

- Limited context: The dataset does not provide information about the respondents' geographic location, socioeconomic status, or cultural background, which may impact their attitudes and behaviors towards Women's History Month.

Historical Sales Dataset consist of the sales of four different genres of products (Feminist Fiction, Biographies Children's Literature, and Feminist Zines) per week for a period of 52 weeks. The sales are in USD and are shown for each week.

We can use this dataset to analyze the sales trends of the different products and determine which ones are more popular. We can also use this data to predict future sales and determine whether there are any seasonal trends or patterns. Additionally, we can compare the sales of different genres and determine which ones are growing in popularity or declining. Overall, this dataset can provide valuable insights into the book market and consumer preferences.
Customer Survey 

*Limitations*
 
- Limited information: The dataset only includes sales data for four variables (three product genres and one week variable). Other important information, such as the geographic location, store type, marketing campaigns, and pricing strategies, are not included. Without this information, it is difficult to draw meaningful conclusions or make accurate predictions.

- Short time frame: The dataset covers 52 weeks, which may not be sufficient to identify long-term trends or seasonal patterns. It is also possible that the sales patterns in this dataset are unique to this particular year and may not be representative of other years.

- Lack of context: The dataset does not provide any context or explanation for the sales patterns observed. For example, it is unclear why certain genres had higher or lower sales in specific weeks. Without this context, it is difficult to interpret the data or draw conclusions.

- Missing data: There are missing data points in the dataset, such as the missing values in the sales of Feminist Zines in Week 46. This missing data may affect the accuracy of any analysis or conclusions drawn from the dataset.

- No indication of sample size or representativeness: There is no information provided about the sample size of the data or how it was collected. It is also not clear if the dataset is representative of a larger population or if it is a sample of specific stores or locations. Without this information, it is difficult to determine the generalizability of the findings

## Data Cleaning and Processing

In [88]:
#importing the pandas library as pd
import pandas as pd

#Reading the CustomerSurvey.csv file and storing it in the variable 'customer_survey'
cust_survey = pd.read_csv("./data/CustomerSurvey.csv")
#Reading the Historical Sales.csv file and storing it in the variable 'hist_sales'
hist_sales = pd.read_csv("./data/Historical Sales.csv")

In [44]:
#viewing first 10 rows of hist_sale
hist_sales.head(n=10)

   week fem_fict biographies children_lit fem_zines
0   1.0  $407.33     $318.78      $106.26    $99.08
1   2.0  $345.44     $270.35       $90.12    $84.03
2   3.0   294.33      230.35        76.78     71.59
3   4.0   371.56      290.78        96.93     90.38
4   5.0   314.33       246.0         82.0     76.46
5   6.0   374.89      293.39         97.8     91.19
6   7.0  $365.00     $285.65       $95.22    $88.78
7   8.0  $409.44     $320.43      $106.81    $99.59
8   9.0  $329.78     $258.09       $86.03    $80.22
9  10.0  $379.11     $296.70       $98.90    $92.22

In [38]:
# Let's simplify and reman the variables
#creating list with the new variable names fro hist_sale
histSale_col_names = ['week','fem_fict','biographies','children_lit','fem_zines']
#Renaming the column names of the hist_sales dataframe using the list histSale_col_names
hist_sales.columns = histSale_col_names
#Viewing first 10 observations
hist_sales.head(n=10)

   week fem_fict biographies children_lit fem_zines
0   1.0  $407.33     $318.78      $106.26    $99.08
1   2.0  $345.44     $270.35       $90.12    $84.03
2   3.0   294.33      230.35        76.78     71.59
3   4.0   371.56      290.78        96.93     90.38
4   5.0   314.33       246.0         82.0     76.46
5   6.0   374.89      293.39         97.8     91.19
6   7.0  $365.00     $285.65       $95.22    $88.78
7   8.0  $409.44     $320.43      $106.81    $99.59
8   9.0  $329.78     $258.09       $86.03    $80.22
9  10.0  $379.11     $296.70       $98.90    $92.22

In [25]:
hist_sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   week          52 non-null     int64
 1   fem_fict      52 non-null     object
 2   biographies   52 non-null     object
 3   children_lit  52 non-null     object
 4   fem_zines     52 non-null     object
dtypes: int64(1), object(4)
memory usage: 2.2+ KB

In [53]:
# Remove the '$' symbol from columns 'fem_fict', 'biographies', 'children_lit', and 'fem_zines'
cols_to_remove_dollar = ['fem_fict', 'biographies', 'children_lit', 'fem_zines']
hist_sales[cols_to_remove_dollar] = hist_sales[cols_to_remove_dollar].replace('[\$,]', '', regex=True).astype(float) #converting datatype to float

# Print the updated datatype with removed '$' symbol
print(hist_sales.dtypes)

week            float64
fem_fict        float64
biographies     float64
children_lit    float64
fem_zines       float64
dtype: object

In [56]:
#saving clean dataset to ne variable
hist_sales_clean = hist_sales 
hist_sales_clean.head(n=10)

   week  fem_fict  biographies  children_lit  fem_zines
0   1.0    407.33       318.78        106.26      99.08
1   2.0    345.44       270.35         90.12      84.03
2   3.0    294.33       230.35         76.78      71.59
3   4.0    371.56       290.78         96.93      90.38
4   5.0    314.33       246.00         82.00      76.46
5   6.0    374.89       293.39         97.80      91.19
6   7.0    365.00       285.65         95.22      88.78
7   8.0    409.44       320.43        106.81      99.59
8   9.0    329.78       258.09         86.03      80.22
9  10.0    379.11       296.70         98.90      92.22

Next the customer survey dataset will be processed and cleaned

In [60]:
#viewing first 10 rows of customer survey dataset
cust_survey.head(n=10)

,Survey Q1: Do you plan to celebrate WHM?,"Survey Q2: If answered ""Yes"" to Q1, how do you plan to celebrate?","Survey Q3: Do you purchase feminist books in honor of WHM, either for yourself or as a gift for someone else?","Survey Q4: If answered ""Yes"" to Q3, how many books do you typically purchase during March?",Survey Q5: What do you like most about Athena's Story?,Survey Q6: What types of books would you like to see more of at Athena's Story?
0,Yes,Support a women’s nonprofit,No,1,All of the above,Feminist fiction
1,Yes,Host an event to celebrate women,Yes,2-3,Product selection relating to women's issues,Feminist zines
2,No,Watch movies directed by women and with female...,No,4 or more,Friendly service,Feminist poetry
3,Yes,Support women-owned businesses,No,1,Athena's story gives back to the local community,Feminist novels and essays
4,No,Spin tunes by female artists,No,1,All of the above,Biographies of inspirational women
5,No,Support female authors,No,2-3,Supporting a woman-owned business,Women's history books
6,No,Write positive affirmations on notes and hand ...,No,4 or more,Knowledgable staff recommendations,Feminist fiction
7,Yes,Decorate my bedroom with empowering quotes by ...,Yes,1,All of the above,Children's literature
8,No,Buy small gifts for my friends with messages o...,No,2-3,All of the above,Children's literature
9,No,Host a dinner party and have everyone go aroun...,No,1,Supporting a woman-owned business,Feminist fiction

In [89]:
#printing variable names
print(cust_survey.columns)

Index(['Survey Q1: Do you plan to celebrate WHM? ',
       'Survey Q2: If answered "Yes" to Q1, how do you plan to celebrate?',
       'Survey Q3: Do you purchase feminist books in honor of WHM, either for yourself or as a gift for someone else?',
       'Survey Q4: If answered "Yes" to Q3, how many books do you typically purchase during March?',
       'Survey Q5: What do you like most about Athena's Story? ',
       'Survey Q6: What types of books would you like to see more of at Athena's Story?'],
      dtype='object')

In [91]:
#creating a dictionary for the customer survey dataset new variable names
cust_survey_VariableNames = {
    'Survey Q1: Do you plan to celebrate WHM? ': 'Q1',
    'Survey Q2: If answered "Yes" to Q1, how do you plan to celebrate?': 'Q2',
    'Survey Q3: Do you purchase feminist books in honor of WHM, either for yourself or as a gift for someone else?': 'Q3',
    'Survey Q4: If answered "Yes" to Q3, how many books do you typically purchase during March?': 'Q4',
    'Survey Q5: What do you like most about Athena\'s Story? ': 'Q5',
    'Survey Q6: What types of books would you like to see more of at Athena\'s Story?': 'Q6'
}

# Rename the columns of the dataset using the dictionary
cust_survey = cust_survey.rename(columns=cust_survey_VariableNames)

#view
cust_survey.head(n=10)

,Q1,Q2,Q3,Q4,Q5,Q6
0,Yes,Support a women’s nonprofit,No,1,All of the above,Feminist fiction
1,Yes,Host an event to celebrate women,Yes,2-3,Product selection relating to women's issues,Feminist zines
2,No,Watch movies directed by women and with female...,No,4 or more,Friendly service,Feminist poetry
3,Yes,Support women-owned businesses,No,1,Athena's story gives back to the local community,Feminist novels and essays
4,No,Spin tunes by female artists,No,1,All of the above,Biographies of inspirational women
5,No,Support female authors,No,2-3,Supporting a woman-owned business,Women's history books
6,No,Write positive affirmations on notes and hand ...,No,4 or more,Knowledgable staff recommendations,Feminist fiction
7,Yes,Decorate my bedroom with empowering quotes by ...,Yes,1,All of the above,Children's literature
8,No,Buy small gifts for my friends with messages o...,No,2-3,All of the above,Children's literature
9,No,Host a dinner party and have everyone go aroun...,No,1,Supporting a woman-owned business,Feminist fiction

In [92]:
cust_survey.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84 entries, 0 to 83
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Q1      84 non-null     object
 1   Q2      32 non-null     object
 2   Q3      65 non-null     object
 3   Q4      16 non-null     object
 4   Q5      84 non-null     object
 5   Q6      84 non-null     object
dtypes: object(6)
memory usage: 4.1+ KB

In the given dataset, we can see that there are missing values in Survey Q2, Survey Q3, and Survey Q4. In Survey Q3 there are missing under the assumption that the participants did not fill out this part of the questionere. For the missing values in Survey Q2 and Survey Q4, we can replace them with "Not applicable" as those questions are only applicable if the answer to Survey Q1 and Survey Q3 is "Yes," respectively.

So, we can replace the missing values in Survey Q2, Q4 and Survey Q3 with "Not applicable," account for not applicable and missing values

In [94]:
cust_survey.tail(20)

,Q1,Q2,Q3,Q4,Q5,Q6
64,No,NaN,No,NaN,All of the above,Biographies of inspirational women
65,No,NaN,NaN,NaN,Supporting a woman-owned business,Feminist zines
66,No,NaN,NaN,NaN,Friendly service,Feminist fiction
67,Yes,NaN,NaN,NaN,Athena's story gives back to the local community,Children's literature
68,No,NaN,NaN,NaN,All of the above,Biographies of inspirational women
69,No,NaN,NaN,NaN,Product selection relating to women's issues,Children's literature
70,No,NaN,NaN,NaN,Knowledgable staff recommendations,Biographies of inspirational women
71,Yes,NaN,NaN,NaN,All of the above,Feminist zines
72,Yes,NaN,NaN,NaN,All of the above,Biographies of inspirational women
73,No,NaN,NaN,NaN,Product selection relating to women's issues,Children's literature
74,Yes,NaN,NaN,NaN,Friendly service,Feminist fiction
75,No,NaN,NaN,NaN,Athena's story gives back to the local community,Feminist zines
76,No,NaN,NaN,NaN,All of the above,Feminist fiction
77,No,NaN,NaN,NaN,Supporting a woman-owned business,Children's literature
78,No,NaN,NaN,NaN,Knowledgable staff recommendations,Feminist zines
79,Yes,NaN,NaN,NaN,All of the above,Biographies of inspirational women
80,No,NaN,NaN,NaN,All of the above,Feminist fiction
81,No,NaN,NaN,NaN,Supporting a woman-owned business,Feminist fiction
82,Yes,NaN,NaN,NaN,Friendly service,Feminist fiction
83,Yes,NaN,NaN,NaN,Athena's story gives back to the local community,Biographies of inspirational women

## Vizualization